html {
    font-family: $font-main;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;

    scroll-behavior: smooth;

    * {
        line-height: $line-height;
    }
}

body {
    background-color: $page-bg;
    color: $text-color;
}
